.container-fluid0{
    background-color: white;
}

footer {
    background-color: #8B7355;
    height: 20%;
    font-size: 18px;
    color: white;
}

.rowf1{
    height: 70%;
    padding-left: 10px;
    padding-bottom: 0px;
}

.rowf2{
    height: 20%;
    padding-left: 10px;
    padding-bottom: 10px;
}

.container-fluid2{
    padding: 5px 0px 0px 15px;
    height: 40px;
    width: 325px;
    color:#8B7355;
    background-color: white;
    border-radius: 10px;
}

.container-fluid2 a:link{
    color: black;
    text-decoration:none;
}

.container-fluid2 a:visited {
    color:#8B7355;
    text-decoration:none;
}

.container-fluid2 a:hover {
    color:black;
    text-decoration:underline;
}

table{
    border: none;
}

.duongdan {
    text-decoration: none;
    color: white;
}