{% extends "pages/base.html" %}


{% block title %}
    <title>Lỗi | Furniture | Nội thất phong cách Việt Nam</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/stylee.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/sanpham.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
{% endblock %}


{% block content %}
    <h1>Đường dẫn không tồn tại.</h1>
{% endblock %}


{% block javascript %}
    <script language="javascript" src="../../static/js/sanpham.js"></script>
    <script language="javascript" src="../../static/js/header.js"></script>
    <script language="javascript" src="../../static/js/giohang.js"></script>
{% endblock %}